{$BE_DOMAIN_ADDRESS} {
    handle_path /realtime* {
        reverse_proxy {
            to {$BE_REALTIME_ADDRESS}
            transport http {
                versions h2c
            }
        }
    }

    handle_path /* {
        reverse_proxy {$BE_GATEWAY_ADDRESS}
    }
}
