{$BE_DOMAIN_ADDRESS} {
	handle_path /realtime* {
		reverse_proxy {
			to {$BE_REALTIME_ADDRESS}
			header_up Host {upstream_hostport}
			transport http {
				versions h2c
			}
		}
	}

	handle_path /* {
		reverse_proxy {
			to {$BE_GATEWAY_ADDRESS}
			header_up Host {upstream_hostport}
		}
	}
}
